<div id="entry-edit" class="entry-edit">
  <div class="entry-field-list">
    <div class="item item-{{field.type}}" ng-repeat="field in collection.fields">
      <label ng-class="{required: field.required}">{{field.label || field.name}}</label>
      <div class="field" ng-if="field.type != 'collection'"><field name="field.name" entry="entry" options="field" value="entry[field.name]" /></div>

      <div class="field-entries" ng-if="field.type == 'collection' && field.many == true">
        <div class="field-entries-options">
          <a class="btn" ng-click="choose(field.name)">Choose</a>
        </div>
        <div class="entry-list">
          <div class="item" ng-repeat="item in entry[field.name]" ng-if="item.id">
            <div class="field-list">
              <div class="field-item" ng-repeat="itemField in getCollectionFields(field.collection)" ng-if="itemField.displayed">
                <span class="field-label" ng-class="{required: itemField.required}">{{itemField.label || itemField.name}}</span>
                <span class="field-value" ng-if="! itemField.collection" ng-bind-html="pretifyValue(item[itemField.name], itemField)"></span>
                <span class="field-value" ng-if="itemField.collection && item[itemField.name] && item[itemField.name] != 0"><a href="#">Preview</a></span>
                <span class="field-value" ng-if="itemField.collection && (! item[itemField.name] || item[itemField.name] == 0)"></span>
              </div>
            </div>
            <!-- <div class="modified" ng-if="item.modified">
              {{toDate(item.modified)}}
            </div> -->
            <!-- <div class="options">
              <a href="#collections/{{collectionName}}/entries/{{item.id}}/edit"><img src="images/edit.png" /></a>
              <a href="#"><img src="images/remove.png" /></a>
            </div> -->

            <div class="options">
              <a href="#collections/{{field.collection}}/entries/{{item.id}}/edit"><img src="images/edit.png" /></a>
              <a><img src="images/minus.png" /></a>
            </div>
          </div>
        </div>
      </div>

      <div class="field-entry" ng-if="field.type == 'collection' && field.many == false">
        <div class="field-entry-options">
          <a class="btn" ng-click="choose(field.name)">Choose</a>
        </div>
        <div class="entry-list">
          <div class="item" ng-if="entry[field.name].id">
            <div class="field-list">
              <div class="field-item" ng-repeat="itemField in getCollectionFields(field.collection)" ng-if="itemField.displayed">
                <span class="field-label" ng-class="{required: itemField.required}">{{itemField.label || itemField.name}}</span>
                <span class="field-value" ng-if="! itemField.collection" ng-bind-html="pretifyValue(entry[field.name][itemField.name], itemField)"></span>
                <span class="field-value" ng-if="itemField.collection && entry[field.name][itemField.name] && entry[field.name][itemField.name] != 0"><a href="#">Preview</a></span>
                <span class="field-value" ng-if="itemField.collection && (! entry[field.name][itemField.name] || entry[field.name][itemField.name] == 0)"></span>
              </div>
            </div>
            <div class="options">
              <a href="#collections/{{field.collection}}/entries/{{item.id}}/edit"><img src="images/edit.png" /></a>
              <a><img src="images/minus-circle.png" /></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="entry-edit-buttons">
    <a class="btn primary" ng-click="save()">Save</a>
    <a class="btn" ng-click="saveAndClose()">Save and Close</a>
  </div>
</div>