<div class="entry-list-options">
  <a href="#collections/{{collection.name}}/entries/create" class="btn trusty">Create</a>
  <a class="btn select-all-btn" ng-click="selectAll()" ng-class="{active: !isAllSelected()}">Select All</a>
  <a class="btn deselect-all-btn" ng-click="deselectAll()" ng-class="{active: isSelected()}">Deselect</a>
  <a class="btn danger remove-btn" ng-click="removeSelected()" ng-class="{active: isSelected()}">Remove Selected</a>

  <div class="option-filter">
    <input class="option-filter-input" type="text" placeholder="Filter" ng-model="filter" debounce="500" hotkey="{'ctrl+f': focusFilter}" />
  </div>
</div>

<div class="entries">
  <entry ng-repeat="record in collection.entries" fields="collection.fields" record="record">
    <div class="options">
      <a ng-click="editEntry(record.id)">
        <img src="images/edit.png" />
      </a>
      <a ng-click="removeEntry(record.id)">
        <img src="images/remove.png" />
      </a>
    </div>
  </entry>
</div>

<div class="load-more-trigger">
  <a ng-click="loadMoreEntries()">Load More</a>
</div>