<div class="dialog-overlay" ng-class="{active: shown}"></div>
<div class="dialog" ng-class="{active: shown}">
  <div class="dialog-header">{{title}}</div>
  <div class="dialog-close" ng-click="closeDialog()">&times;</div>
  <div class="dialog-content">
    <div class="dialog-content-inner">
    
      <div class="entry-list">
        <div class="item" ng-repeat="item in collection.entries" ng-if="item.id" ng-click="toggleActiveItem(item)" ng-class="{active: isItemActive(item)}">
          <div class="field-list">
            <div class="field-item" ng-repeat="field in collection.fields" ng-if="field.displayed">
              <span class="field-label" ng-class="{required: field.required}">{{field.label || field.name}}</span>
              <span class="field-value" ng-if="! field.collection" ng-bind-html="pretifyValue(item[field.name], field)"></span>
              <span class="field-value" ng-if="field.collection && item[field.name] && item[field.name] != 0"><a href="#">Preview</a></span>
              <span class="field-value" ng-if="field.collection && (! item[field.name] || item[field.name] == 0)"></span>
            </div>
          </div>
          <!-- <div class="modified" ng-if="item.modified">
            {{toDate(item.modified)}}
          </div> -->
          <!--<div class="options">
            <input type="checkbox" checked ng-if="" />
          </div>-->
        </div>
      </div>

    </div>
  </div>
  <div class="dialog-buttons">
    <a class="btn primary" ng-click="choose()">Choose</a>
    <a class="btn" ng-click="closeDialog()">Cancel</a>
  </div>
</div>