<div ng-switch="options.type">
  <div ng-switch-when="text">
    <input type="text" ng-model="entry[name]" />
  </div>
  <div ng-switch-when="datetime">
    <input type="text" ng-model="entry[name]" />
  </div>
  <div ng-switch-when="number">
    <input type="text" ng-model="entry[name]" />
  </div>
  <div ng-switch-when="float">
    <input type="text" ng-model="entry[name]" />
  </div>
  <div ng-switch-when="password">
    <input type="password" ng-model="entry[name]" />
  </div>
  <div ng-switch-when="email">
    <input type="email" ng-model="entry[name]" />
  </div>
  <div ng-switch-when="select">
    <select ng-model="entry[name]">
      <option value="{{item}}" ng-repeat="item in options.options" ng-selected="entry[name] == item">{{item}}</option>
    </select>
  </div>
  <div ng-switch-when="boolean">
    <input type="checkbox" ng-model="entry[name]" />
  </div>
  <div ng-switch-when="wysiwyg">
    <text-angular ng-model="entry[name]"></text-angular>
  </div>
  <div ng-switch-when="multiline">
    <textarea ng-model="entry[name]"></textarea>
  </div>
  <div ng-switch-when="datetime">
    <input type="checkbox" ng-model="entry[name]" />
  </div>
  <div ng-switch-when="media">
    <input type="checkbox" ng-model="entry[name]" />
  </div>
  <div ng-switch-when="collection">
    <input type="checkbox" ng-model="entry[name]" />
  </div>
</div>