<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>app</title>
    <!-- <base href="/orm/" /> -->
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.min.css" />
  </head>
  <body>

    <div id="app">
      <div id="breadcrumbs" ng-controller="BreadcrumbsCtrl">
        <span ng-repeat="item in app.getBreadcrumbs()">
          <a class="item" href="#{{item.path}}" ng-if="item.path">{{item.name}}</a>
          <span class="item" ng-if="!item.path">{{item}}</span>
        </span>
      </div>

      <div id="content" ng-view></div>

      <flash:messages></flash:messages>

      <entry-browser-dialog></entry-browser-dialog>
    </div>

    <div ng-controller="EntryEditDialogCtrl">
      <ng-dialog>
        <div class="entry-form">
          <entry-field ng-repeat="field in editing.fields" field="field" entry="editing.entry"></entry-field>

          <div class="buttons-right">
            <button class="btn primary" ng-click="save()">{{editingItems.length > 1 ? 'Save and Back': 'Save'}}</button>
          </div>
          <div class="buttons-left">
            <button class="btn simple" ng-click="cancel()">{{editingItems.length > 1 ? 'Back': 'Cancel'}}</button>
          </div>
        </div>
      </ng-dialog>
    </div>

    <div ng-controller="EntryBrowserDialogCtrl">
      <ng-dialog>
        <div class="entry-select-filter" ng-if="! isView">
          <input type="text" placeholder="Filter" ng-model="params.filter" debounce="500" autofocus />
        </div>
        <div class="entries">
          <entry ng-repeat="record in collection.entries" fields="collection.fields" record="record" on-active="onActive"></entry>
        </div>
        <div class="load-more-trigger" ng-if="! isView">
          <a ng-click="loadMoreEntries()">Load More</a>
        </div>
        <div class="buttons-right" ng-if="! isView">
          <button class="btn primary" ng-click="select()">Select</button>
        </div>
        <div class="buttons-left">
          <button class="btn simple" ng-click="cancel()">Cancel</button>
        </div>
      </ng-dialog>
    </div>

  </body>
  <script src="bower_components/hammerjs/hammer.min.js"></script>
  <script src="bower_components/momentjs/min/moment.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/textAngular/src/textAngular-sanitize.js"></script>
  <script src="bower_components/textAngular/src/textAngular.js"></script>
  <script src="bower_components/textAngular/src/textAngularSetup.js"></script>
  <script src="bower_components/angular-flash-messages/angular-flash.js"></script>
  <script src="bower_components/angular-hammer/angular-hammer.js"></script>
  <script src="bower_components/ngRepeatReorder/dist/ngRepeatReorder.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="bower_components/ng-debounce/angular-debounce.js"></script>
  <script src="bower_components/angular-hotkeys/build/hotkeys.min.js"></script>

  <script src="js/app.js"></script>
</html>